body {
    margin: 0;
}
 .card {
    width: 500px; height: fit-content; 
    background-color: rgb(252, 195, 169);
    margin: 10px;
    font-family: cursive;
}
.borda-card{
    border: 3px solid rgba(148, 17, 135, 0.839);
}
.perfil {
    width: 100px; height: 100px; background-color: rgba(175, 63, 186, 0.634);
}
.icon{
    width: 100px; height: 100px;
}
h1 {
    color:brown; 
}

p {
    color: brown; 
}

span{
    color:black
}
